@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
    --black: #000;
    --white: #fff;
    --penn-red: #a11715;
    --cerulean: #086788;
    --dark-purple: #161032;
    --persian-orange: #ce8d66;
}

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(img/stranger-things.jpg);
    background-color: var(--white);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 80%;
    padding: 50px;
}

.main-titulo {
    color: var(--dark-purple);
    font-size: 3rem;
}

.selecao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 30px 0;
}

.selecao-conteudo-titulo {
    text-align: center;
    margin-bottom: 5px;
    font-weight: 500;
}

.main-input_tentativa {
    border: none;
    border-radius: 0.2rem;
    margin-bottom: 10px;
    width: 6rem;
}

.selecao-conteudo-dificuldade {
    cursor: pointer;
    font-size: 1rem;
    color: var(--white);
    border-radius: 5px;
    background-color: var(--penn-red);
    border: 1px solid var(--black);
    padding: 0 10px;
    transition: 0.4s;
}

.selecao-conteudo-dificuldade:hover,
.selecao-conteudo-tentativas:hover,
.main-chutar:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: 0.4s;
}

.selecao-conteudo-dificuldade:disabled,
.selecao-conteudo-tentativas:disabled {
    cursor: default;
    opacity: 0.6;
}

.selecao-conteudo-tentativas {
    cursor: pointer;
    font-size: 1rem;
    color: var(--white);
    border-radius: 5px;
    background-color: var(--cerulean);
    border: 1px solid var(--black);
    padding: 0 10px;
    transition: 0.4s;
}

.main-entre {
    margin-bottom: 5px;
}

.main-input_tentativa {
    margin: 10px 0;
    width: 140px;
    padding: 5px;
    border: 1px solid var(--black);
}

.main-chutar {
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid var(--black);
    padding: 5px 20px;
    background-color: var(--dark-purple);
    transition: 0.4s;
    color: var(--white)
}

.main-resultado,
.main-dica {
    font-size: 1.5rem;
}

.main-resultado {
    margin-top: 10px;
}

.main-dica {
    text-decoration: underline;
    margin-top: 10px;
}
